<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxkj.gaia.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.sxkj.gaia.model.Org">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parents_id" jdbcType="VARCHAR" property="parentsId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status_flag" jdbcType="TINYINT" property="statusFlag" />
  </resultMap>
  <resultMap id="ExtResultMap" type="com.sxkj.gaia.model.Org">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parents_id" jdbcType="VARCHAR" property="parentsId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status_flag" jdbcType="TINYINT" property="statusFlag" />
    <collection property="users" ofType="com.sxkj.gaia.model.User">
      <id property="id" column="user_id"/>
      <result property="name" column="user_name"/>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_org
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sxkj.gaia.model.Org" keyProperty="id" useGeneratedKeys="true">
    insert into sys_org (id, name, short_name, 
      code, parent_id, parents_id, 
      remark, create_id, update_id, 
      sort, status_flag)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{parentsId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createId,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT}, 
      #{sort,jdbcType=INTEGER}, #{statusFlag,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sxkj.gaia.model.Org">
    update sys_org
    set name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      parents_id = #{parentsId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      status_flag = #{statusFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, short_name, code, parent_id, parents_id, remark, create_id, update_id, 
    sort, status_flag
    from sys_org
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, short_name, code, parent_id, parents_id, remark, create_id, update_id, 
    sort, status_flag
    from sys_org
  </select>
  <select id="findById" parameterType="java.lang.Long" resultMap="ExtResultMap">
    SELECT
      org.id AS id,org.name AS name,org.short_name AS short_name,org.code AS code,
      user.id AS user_id,user.name AS user_name
    FROM sys_org AS org LEFT JOIN sys_user AS user ON org.id=user.org_id AND user.status_flag=1
    WHERE org.id=#{id,jdbcType=BIGINT}
  </select>
  <select id="findList" parameterType="com.sxkj.gaia.model.Org" resultMap="BaseResultMap">
    select id, name, short_name, code, parent_id, parents_id, remark, create_id, update_id,
    sort, status_flag
    from sys_org
    WHERE status_flag=1
      <if test="name!=null and name.length()>0">AND name LIKE concat('%',#{name},'%')</if>
      <if test="shortName!=null and shortName.length()>0">AND short_name LIKE concat('%',#{shortName},'%')</if>
      <if test="code!=null and code.length()>0">AND code=#{code}</if>
  </select>
</mapper>